@charset "UTF-8";

.square{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

div#s1{
    background-image: url(images/pattern001.png);
}

div#s2{
    background-image: url(images/wallpaper002.jpg);
}

div#s3{
    background-image: url(images/pattern003.png);
}

